email-validator==2.1.0
Flask==2.2.5
Flask-Admin==1.6.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.2
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
flaskwebgui==1.0.8
itsdangerous==2.1.2
Jinja2==3.1.2
SQLAlchemy==2.0.22
watchfiles==0.21.0
websockets==11.0.3
Werkzeug==2.2.0
wsproto==1.2.0
WTForms==3.1.0
yarl==1.9.2
