{% extends "user_panel.html" %}

{% block content %}
<div class="container">
<!--    <h2>Places</h2>-->
    <div class="form-container bg-light p-3 rounded">
        {% if places %}
        <table class="table">
            <thead>
                <tr>
                    {% for column in Place.__table__.columns %}
                    <th>{{ column.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                <tr>
                    {% for column in Place.__table__.columns %}
                    <td>{{ getattr(place, column.name) }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No records in database. <a href="/create_place">Create new</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
