{% extends "user_panel.html" %}

{% block content %}
<div class="container">
    <div class="form-container bg-light p-3 rounded">
        <form action="{{ url_for('persons.create_person', username=username) }}" method="post" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", required=True) }}
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <div class="form-group">
                {{ form.birth_date.label(class="form-label") }}
                {{ form.birth_date(class="form-control") }}
                <div class="invalid-feedback">
                    Please provide a birth date.
                </div>
            </div>
            <div class="form-group">
                {{ form.death_date.label(class="form-label") }}
                {{ form.death_date(class="form-control") }}
            </div>
            <!-- Add more form fields as needed -->
            <div class="text-center">
                {% if g.user_language == 'en' %}
                    {{ form.submit(class='btn btn-dark', value='Update') }}
                {% elif g.user_language == 'ru' %}
                    {{ form.submit(class='btn btn-dark', value='Обновить') }}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    var table = $('#myTable').DataTable({
        pageLength: 10,
        createdRow: function(row, data) {
            $(row).click(function(){
                if ($(this).hasClass('highlight')) {
                    $(this).removeClass('highlight');
                    $('#editBtn, #deleteBtn').prop('disabled', true);
                } else {
                    $('#myTable tbody tr').removeClass('highlight');
                    $(this).addClass('highlight');
                    $('#editBtn, #deleteBtn').prop('disabled', false);
                }
            });
        }
    });

    // Add click event for the edit button
    $('#editBtn').click(function() {
        var data = table.row('.highlight').data();
        if (data) {
            window.location.href = '/user/' + username + 'edit_person/' + data[0];  // assuming the ID is in the first column of your table
        }
    });
});
</script>
{% endblock %}
