{% extends "user_panel.html" %}

{% block content %}
<div class="container">
    <div class="form-container bg-light p-3 rounded">
        <form action="/user/{{ username }}/create_place" method="post" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", required=True) }}
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <div class="form-group">
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.significance.label(class="form-label") }}
                {{ form.significance(class="form-control") }}
            </div>
            <!-- Add more form fields as needed -->
            <div class="text-center">
                {% if g.user_language == 'en' %}
                    {{ form.submit(class='btn btn-success', value='Create') }}
                    <a href="{{ url_for('places.places_view', username=username) }}" class="btn btn-danger">Cancel</a>
                {% elif g.user_language == 'ru' %}
                    {{ form.submit(class='btn btn-success', value='Создать') }}
                    <a href="{{ url_for('places.places_view', username=username) }}" class="btn btn-danger">Отмена</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    setTimeout(function(){
        $('.alert').fadeOut('slow');
    }, 5000); // 5 seconds

    // Client-side validation
    $('.needs-validation').on('submit', function(event) {
        if (this.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
        }
        this.classList.add('was-validated');
    });
});
</script>
{% endblock %}
