{% extends "user_panel.html" %}

{% block content %}
<div class="container">
    <div class="form-container bg-light p-3 rounded">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/events/user/{{ username }}/edit_event/{{ event.id }}" method="post" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", required=True) }}
                <div class="invalid-feedback">
                    Please provide a name.
                </div>
            </div>
            <div class="form-group">
                {{ form.date.label(class="form-label") }}
                {{ form.date(class="form-control") }}
            </div>
            <!-- Add more form fields as needed -->
            <div class="text-center">
                {% if g.user_language == 'en' %}
                    {{ form.submit(class='btn btn-success', value='Update') }}
                    <a href="{{ url_for('events.events_view', username=username) }}" class="btn btn-danger">Cancel</a>
                {% elif g.user_language == 'ru' %}
                    {{ form.submit(class='btn btn-success', value='Обновить') }}
                    <a href="{{ url_for('events.events_view', username=username) }}" class="btn btn-danger">Отмена</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}