{% extends "user_panel.html" %}

{% block content %}
<div class="container">
    <div class="form-container bg-light p-3 rounded">
        {% if events %}
        <table class="table">
            <thead>
                <tr>
                    {% for column in Event.__table__.columns %}
                    <th>{{ column.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    {% for column in Event.__table__.columns %}
                    <td>{{ getattr(event, column.name) }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        {% if g.user_language == 'en' %}
            <p>No records in database. <a href="/create_event">Create new</a></p>
        {% elif g.user_language == 'ru' %}
            <p>Нет записей в базе данных. <a href="/create_event">Создать новую</a></p>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
