{% extends "base_header.html" %}
{% block content %}
<style>
    .golden-gradient {
        background: linear-gradient(to right, rgba(255,223,0,0.2), rgba(255,215,0,0.2));
    }
</style>

<div class="d-flex justify-content-center align-items-center vh-10">
    <div class="form-container mx-auto py-md-3 py-1 golden-gradient bg-gradient" style="max-width: 500px; padding: 15px; border-radius: 10px;">
        {% if g.user_language == 'en' %}
            <h1 class="text-center"><strong style="color: black; text-shadow: 2px 2px 4px #ffd700;">Login</strong></h1>
        {% elif g.user_language == 'ru' %}
            <h1 class="text-center"><strong style="color: black; text-shadow: 2px 2px 4px #ffd700;">Войти</strong></h1>
        {% endif %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-danger">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label", style="font-weight:bold") }}
                {{ form.username(class="form-control", size=30) }}
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors|join(', ') }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label", style="font-weight:bold") }}
                {{ form.password(class="form-control", size=30) }}
                {% if form.password.errors %}
                    <div class="alert alert-danger">
                        {{ form.password.errors|join(', ') }}
                    </div>
                {% endif %}
            </div>
            <!-- Add your additional fields here -->
            <div class="text-center">
                {% if g.user_language == 'en' %}
                    {{ form.submit(class='btn btn-dark', value='Login') }}
                {% elif g.user_language == 'ru' %}
                    {{ form.submit(class='btn btn-dark', value='Войти') }}
                {% endif %}
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    setTimeout(function(){
        $('.alert').fadeOut('slow');
    }, 5000); // 5 seconds
});
</script>

{% endblock %}
