{% extends "user_panel.html" %}

{% block content %}

<style type="text/css">
.highlight {
    background-color: gold !important;
}
</style>

<div class="container">
    <div class="form-container bg-light p-2 rounded">
        <!-- Flash message handler -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if persons %}
        <table id="myTable" class="table text-center">
            <thead>
                <tr>
                    <th>{{ form.id }}</th>
                    <th>{{ form.name.label.text }}</th>
                    <th>{{ form.is_alive.label.text }}</th>
                    <th>{{ form.birth_date.label.text }}</th>
                    <th>{{ form.place_of_live.label.text }}</th>
                    <th>{{ form.age.label.text }}</th>
<!--                    <th>{{ form.gender.label.text }}</th>-->
                    <th style="display: none;">{{ form.spouse.label.text }}</th>
                    <th style="display: none;">{{ form.mother.label.text }}</th>
                    <th style="display: none;">{{ form.father.label.text }}</th>
                    <th style="display: none;">Children</th>

                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr data-id="{{ person.id }}">
                    <td>
                        {% if person.image_file %}
                            <img src="{{ url_for('static', filename=person.image_file) }}"
                                 alt="User photo" class="img-thumbnail" style="width: 100%; min-width: 5.0em; max-width: 5.0em; height: auto; object-fit: cover;">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/no-user-photo.png') }}"
                                 alt="User photo" class="img-thumbnail" style="width: 100%; min-width: 5.0em; max-width: 5.0em; height: auto; object-fit: cover;">
                        {% endif %}
                    </td>
                    <td>{{ person.name }}</td>
                    <td>
                        <input type="checkbox" {% if person.is_alive %}checked{% endif %} disabled>
                    </td>
                    <td>{{ person.birth_date.strftime('%d-%m-%Y') if person.birth_date is not none else '' }}</td>

                    <!-- More columns here -->
                    <td>{{ person.place_of_live }}</td>
                    <td>{{ person.age }}</td>

                    <td style="display: none;">
                        {% if person.spouse_id is not none and person.spouse_id != "None" %}
                            <a href="{{ url_for('persons.edit_person', username=session['username'], id=person.spouse_id)|safe }}">
                                {{ Person.query.get(person.spouse_id).name }}
                            </a>
                        {% endif %}
                    </td>

                    <td style="display: none;">
                        {% if person.mother_id is not none and person.mother_id != "None" %}
                            <a href="{{ url_for('persons.edit_person', username=session['username'], id=person.mother_id)|safe }}">
                                {{ Person.query.get(person.mother_id).name }}
                            </a>
                        {% endif %}
                    </td>
                    <td style="display: none;">
                        {% if person.father_id is not none and person.father_id != "None" %}
                            <a href="{{ url_for('persons.edit_person', username=session['username'], id=person.father_id)|safe }}">
                                {{ Person.query.get(person.father_id).name }}
                            </a>
                        {% endif %}
                    </td>

                    <td style="display: none;">
                        {% if person.gender == 'Female' %}
                            {% for child in person.maternal_children %}
                                {% if child.name is not none and child.id is not none %}
                                    <a href="{{ url_for('persons.edit_person', username=session['username'], id=child.id)|safe }}">
                                        | {{ child.name }} |
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% elif person.gender == 'Male' %}
                            {% for child in person.paternal_children %}
                                {% if child.name is not none and child.id is not none %}
                                    <a href="{{ url_for('persons.edit_person', username=session['username'], id=child.id)|safe }}">
                                        | {{ child.name }} |
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {# ////////////////////////////////////////////////////////// #}

                {% endfor %}
            </tbody>
        </table>

        <!-- Buttons -->
        <button id="createBtn" class="btn btn-success" onclick="window.location.href='{{ url_for('persons.create_person', username=session['username']) }}'">
            {{ 'Create New' if g.user_language == 'en' else 'Создать новую' }}
        </button>
        <button id="openBtn" class="btn btn-secondary" disabled onclick="editPerson()">{% if g.user_language == 'en' %}Open Record{% elif g.user_language == 'ru' %}Открыть запись{% endif %}</button>
        <button id="editBtn" class="btn btn-secondary" disabled onclick="editPerson()">{% if g.user_language == 'en' %}Edit Record{% elif g.user_language == 'ru' %}Редактировать запись{% endif %}</button>
        <button id="deleteBtn" class="btn btn-danger" disabled onclick="deletePerson()">{% if g.user_language == 'en' %}Delete Record{% elif g.user_language == 'ru' %}Удалить запись{% endif %}</button>

        <div class="d-flex justify-content-center p-3 border border-secondary">
            <div class="d-flex justify-content-center p-3 border border-primary mx-3">
                <img id="user-photo" src="{{ url_for('static', filename='images/no-user-photo.png') }}"
                     alt="User photo" class="img-thumbnail" style="width: 100%; max-width: 15.0em; height: auto; object-fit: cover;">
            </div>
            <div class="justify-content-center p-3 border border-primary">
                <div id="name-bottom-field" class="form-group">
                    <label><strong>{{ form.name.label.text }}:</strong> <span class="data"></span></label>
                </div>
                <div id="birth_date-bottom-field" class="form-group">
                    <label><strong>{{ form.birth_date.label.text }}:</strong> <span class="data"></span></label>
                </div>
                <div id="age-bottom-field" class="form-group">
                    <label><strong>{{ form.age.label.text }}:</strong> <span class="data"></span></label>
                </div>
                {# #}
                <div id="spouse-bottom-field" class="form-group">
                    <label><strong>{{ form.spouse.label.text }}:</strong> <span class="data"></span></label>
                </div>
                <div id="mother-bottom-field" class="form-group">
                    <label><strong>{{ form.mother.label.text }}:</strong> <span class="data"></span></label>
                </div>
                <div id="father-bottom-field" class="form-group">
                    <label><strong>{{ form.father.label.text }}:</strong> <span class="data"></span></label>
                </div>
                <div id="children-bottom-field" class="form-group">
                    <label><strong>{{ 'Children' if g.user_language == 'en' else 'Дети' }}:</strong> <span class="data"></span></label>
                </div>
            </div>
        </div>
        {% else %}
        {% if g.user_language == 'en' %}
            <p>No records in database. <a href="{{ url_for('persons.create_person', username=session['username']) }}">Create new</a></p>
        {% elif g.user_language == 'ru' %}
            <p>Нет записей в базе данных. <a href="{{ url_for('persons.create_person', username=session['username']) }}">Создать новую</a></p>
        {% endif %}
    {% endif %}
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
// Create a JavaScript variable for the static URL
var staticUrl = "{{ url_for('static', filename='') }}";

$(document).ready(function(){
    var table = $('#myTable').DataTable({
        language: {
            decimal: "",
            emptyTable: {% if g.user_language == 'en' %}"No data available in table"{% elif g.user_language == 'ru' %}"Нет данных в таблице"{% endif %},
            info: "{% if g.user_language == 'en' %}Showing _START_ to _END_ of _TOTAL_ entries{% elif g.user_language == 'ru' %}Показано _START_ до _END_ из _TOTAL_ записей{% endif %}",
            infoEmpty: "{% if g.user_language == 'en' %}Showing 0 to 0 of 0 entries{% elif g.user_language == 'ru' %}Показано 0 до 0 из 0 записей{% endif %}",
            infoFiltered: "{% if g.user_language == 'en' %}(filtered from _MAX_ total entries){% elif g.user_language == 'ru' %}(отфильтровано из _MAX_ записей){% endif %}",
            infoPostFix: "",
            thousands: ",",
            lengthMenu: "{% if g.user_language == 'en' %}Show _MENU_ entries{% elif g.user_language == 'ru' %}Показать _MENU_ записей{% endif %}",
            loadingRecords: "{% if g.user_language == 'en' %}Loading...{% elif g.user_language == 'ru' %}Загрузка...{% endif %}",
            processing: "",
            search: "{% if g.user_language == 'en' %}Search:{% elif g.user_language == 'ru' %}Поиск:{% endif %}",
            zeroRecords: "{% if g.user_language == 'en' %}No matching records found{% elif g.user_language == 'ru' %}Нет соответствующих записей{% endif %}",
            paginate: {
                first: "{% if g.user_language == 'en' %}First{% elif g.user_language == 'ru' %}Первая{% endif %}",
                last: "{% if g.user_language == 'en' %}Last{% elif g.user_language == 'ru' %}Последняя{% endif %}",
                next: "{% if g.user_language == 'en' %}Next{% elif g.user_language == 'ru' %}Следующая{% endif %}",
                previous: "{% if g.user_language == 'en' %}Previous{% elif g.user_language == 'ru' %}Предыдущая{% endif %}"
            },
            aria: {
                sortAscending: "{% if g.user_language == 'en' %}: activate to sort column ascending{% elif g.user_language == 'ru' %}: активировать для сортировки столбца по возрастанию{% endif %}",
                sortDescending: "{% if g.user_language == 'en' %}: activate to sort column descending{% elif g.user_language == 'ru' %}: активировать для сортировки столбца по убыванию{% endif %}"
            }
        },
        pageLength: 5,  // Change this to 5
        lengthMenu: [[5, 10, 15, 20], [5, 10, 15, 20]],
        createdRow: function(row, data) {
            $(row).click(function(){
                var $this = $(this);

                if ($this.hasClass('highlight')) {
                    $this.removeClass('highlight');
                    $('#openBtn, #editBtn, #deleteBtn').prop('disabled', true);

                    // If no row is selected, set the src to the path of the no-person-photo.png image
                    $('#user-photo').attr('src', '/static/images/no-user-photo.png');

                    // If no row is selected, remove the additional data
                    $('#name-bottom-field .data').text('');
                    $('#birth_date-bottom-field .data').text('');
                    $('#age-bottom-field .data').text('');
                    $('#spouse-bottom-field .data').text('');
                    $('#mother-bottom-field .data').text('');
                    $('#father-bottom-field .data').text('');
                    $('#children-bottom-field .data').text('');
                } else {
                    $('#myTable tbody tr').removeClass('highlight');
                    $this.addClass('highlight');
                    $('#openBtn, #editBtn, #deleteBtn').prop('disabled', false);

                    var imgTag = data[0];  // This is your img tag

                    if (imgTag) {
                        // Use a regex to match the src attribute and extract its value
                        var regex = /src\s*=\s*"([^"]+)"/i;
                        var match = imgTag.match(regex);

                        if (match) {
                            var profilePicPath = match[1];
<!--                            console.log('profilePicPath:', profilePicPath);  // This should now log the correct path-->

                            // Update the user photo
                            $('#user-photo').attr('src', profilePicPath);
                        } else {
                            console.log('No src attribute found');
                        }
                    } else {
                        // If data[0] is None, set the src to the path of the default image
                        $('#user-photo').attr('src', '/static/images/no-user-photo.png');
                    }
                     // Update the additional data
                    $('#name-bottom-field .data').text(data[1]);
                    $('#birth_date-bottom-field .data').text(data[3]);
                    $('#age-bottom-field .data').text(data[5]);
                    $('#spouse-bottom-field .data').html(data[6]);
                    $('#mother-bottom-field .data').html(data[7]);
                    $('#father-bottom-field .data').html(data[8]);
                    $('#children-bottom-field .data').html(data[9]);
                }
            });
        }
    });
});

function isValidImageFile(imageFile) {
    var imageFileExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.bmp', 'JPG', 'JPEG'];
    for (var i = 0; i < imageFileExtensions.length; i++) {
        if (imageFile.endsWith(imageFileExtensions[i])) {
            return true;
        }
    }
    return false;
}

function editPerson() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        window.location.href = '/persons/user/' + username + '/edit_person/' + id;
    }
}

function deletePerson() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        $.ajax({
            url: '/persons/user/' + username + '/delete_person/' + id,
            type: 'POST',
            success: function(result) {
                // Remove the deleted record from the table
                $('#myTable tr.highlight').remove();
                // Optionally, show a success message
                // alert('Person deleted successfully!');
            },
            error: function(xhr, status, error) {
                // Optionally, show an error message
                alert('An error occurred while deleting the person: ' + error);
            }
        });
    }
}
</script>

{% endblock %}