{% extends "user_panel.html" %}

{% block content %}

<style type="text/css">
.highlight {
    background-color: gold !important;
}
</style>

<div class="container">
    <div class="form-container bg-light p-3 rounded">
        <!-- Flash message handler -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if persons %}
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>{{ form.name.label.text }}</th>
                    <th>{{ form.birth_date.label.text }}</th>
                    <th style="display: none;">{{ form.death_date.label.text }}</th>
                    <th style="display: none;">{{ form.image_file.label.text }}</th> <!-- Hidden column for image_file -->
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr data-id="{{ person.id }}">
                    <td>{{ person.name }}</td>
                    <td>{{ person.birth_date }}</td>
                    <td style="display: none;">{{ person.death_date }}</td>
                    <td style="display: none;">{{ person.image_file }}</td> <!-- Hidden column for image_file -->
                    <!-- More columns here -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Buttons -->
        <button id="createBtn" class="btn btn-success" onclick="window.location.href='{{ url_for('persons.create_person', username=session['username']) }}'">
            {{ 'Create New' if g.user_language == 'en' else 'Создать новую' }}
        </button>
        <button id="openBtn" class="btn btn-secondary" disabled onclick="editPerson()">{% if g.user_language == 'en' %}Open Record{% elif g.user_language == 'ru' %}Открыть запись{% endif %}</button>
        <button id="editBtn" class="btn btn-secondary" disabled onclick="editPerson()">{% if g.user_language == 'en' %}Edit Record{% elif g.user_language == 'ru' %}Редактировать запись{% endif %}</button>
        <button id="deleteBtn" class="btn btn-danger" disabled onclick="deletePerson()">{% if g.user_language == 'en' %}Delete Record{% elif g.user_language == 'ru' %}Удалить запись{% endif %}</button>

        {% else %}
        {% if g.user_language == 'en' %}
            <p>No records in database. <a href="{{ url_for('persons.create_person', username=session['username']) }}">Create new</a></p>
        {% elif g.user_language == 'ru' %}
            <p>Нет записей в базе данных. <a href="{{ url_for('persons.create_person', username=session['username']) }}">Создать новую</a></p>
        {% endif %}
    {% endif %}
        <!-- New container for the image -->
        <div class="image-container mt-3 ml-3">
            <img src="{{ url_for('static', filename='images/no-user-photo.png') }}" alt="User photo" style="width: auto; height: 300px; object-fit: cover;">
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
// Create a JavaScript variable for the static URL
var staticUrl = "{{ url_for('static', filename='') }}";

$(document).ready(function(){
    var table = $('#myTable').DataTable({
        language: {
            decimal: "",
            emptyTable: {% if g.user_language == 'en' %}"No data available in table"{% elif g.user_language == 'ru' %}"Нет данных в таблице"{% endif %},
            info: "{% if g.user_language == 'en' %}Showing _START_ to _END_ of _TOTAL_ entries{% elif g.user_language == 'ru' %}Показано _START_ до _END_ из _TOTAL_ записей{% endif %}",
            infoEmpty: "{% if g.user_language == 'en' %}Showing 0 to 0 of 0 entries{% elif g.user_language == 'ru' %}Показано 0 до 0 из 0 записей{% endif %}",
            infoFiltered: "{% if g.user_language == 'en' %}(filtered from _MAX_ total entries){% elif g.user_language == 'ru' %}(отфильтровано из _MAX_ записей){% endif %}",
            infoPostFix: "",
            thousands: ",",
            lengthMenu: "{% if g.user_language == 'en' %}Show _MENU_ entries{% elif g.user_language == 'ru' %}Показать _MENU_ записей{% endif %}",
            loadingRecords: "{% if g.user_language == 'en' %}Loading...{% elif g.user_language == 'ru' %}Загрузка...{% endif %}",
            processing: "",
            search: "{% if g.user_language == 'en' %}Search:{% elif g.user_language == 'ru' %}Поиск:{% endif %}",
            zeroRecords: "{% if g.user_language == 'en' %}No matching records found{% elif g.user_language == 'ru' %}Нет соответствующих записей{% endif %}",
            paginate: {
                first: "{% if g.user_language == 'en' %}First{% elif g.user_language == 'ru' %}Первая{% endif %}",
                last: "{% if g.user_language == 'en' %}Last{% elif g.user_language == 'ru' %}Последняя{% endif %}",
                next: "{% if g.user_language == 'en' %}Next{% elif g.user_language == 'ru' %}Следующая{% endif %}",
                previous: "{% if g.user_language == 'en' %}Previous{% elif g.user_language == 'ru' %}Предыдущая{% endif %}"
            },
            aria: {
                sortAscending: "{% if g.user_language == 'en' %}: activate to sort column ascending{% elif g.user_language == 'ru' %}: активировать для сортировки столбца по возрастанию{% endif %}",
                sortDescending: "{% if g.user_language == 'en' %}: activate to sort column descending{% elif g.user_language == 'ru' %}: активировать для сортировки столбца по убыванию{% endif %}"
            }
        },

        pageLength: 10,
        createdRow: function(row, data) {
            $(row).click(function(){
                // Get the img element
                var img = $('.image-container img');

                if ($(this).hasClass('highlight')) {
                    $(this).removeClass('highlight');
                    $('#openBtn, #editBtn, #deleteBtn').prop('disabled', true);

                    // Display the no-user-photo.png image
                    img.attr('src', staticUrl + 'images/no-user-photo.png');
                } else {
                    $('#myTable tbody tr').removeClass('highlight');
                    $(this).addClass('highlight');
                    $('#openBtn, #editBtn, #deleteBtn').prop('disabled', false);

                    // Get the image_file value from the clicked row
                    var imageFile = data[3];  // Access the image_file value by its index

                    // Update the src attribute of the img element
                    if (imageFile && isValidImageFile(imageFile)) {
                        img.attr('src', staticUrl + imageFile);
                        console.log(staticUrl + imageFile);  // Print the image path
                    } else {
                        img.attr('src', staticUrl + 'images/no-user-photo.png');
                        console.log(staticUrl + 'images/no-user-photo.png');  // Print the image path
                    }
                }
            });
        }
    });
});

function isValidImageFile(imageFile) {
    var imageFileExtensions = ['.jpg', '.jpeg', '.png', '.gif', '.bmp', 'JPG', 'JPEG'];
    for (var i = 0; i < imageFileExtensions.length; i++) {
        if (imageFile.endsWith(imageFileExtensions[i])) {
            return true;
        }
    }
    return false;
}

function editPerson() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        window.location.href = '/persons/user/' + username + '/edit_person/' + id;
    }
}

function deletePerson() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        $.ajax({
            url: '/persons/user/' + username + '/delete_person/' + id,
            type: 'POST',
            success: function(result) {
                // Remove the deleted record from the table
                $('#myTable tr.highlight').remove();
                // Optionally, show a success message
                // alert('Person deleted successfully!');
            },
            error: function(xhr, status, error) {
                // Optionally, show an error message
                alert('An error occurred while deleting the person: ' + error);
            }
        });
    }
}
</script>

{% endblock %}