{% extends "user_panel.html" %}

{% block content %}
<div class="container">
    <div class="form-container bg-light p-3 rounded">
        {% if places %}
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>{{ form.name.label.text }}</th>
                    <th>{{ form.location.label.text }}</th>
                    <th>{{ form.significance.label.text }}</th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                <tr data-id="{{ place.id }}">
                    <td>{{ place.name }}</td>
                    <td>{{ place.location }}</td>
                    <td>{{ place.significance }}</td>
                    <!-- More columns here -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Buttons -->
        <button id="createBtn" class="btn btn-success" onclick="window.location.href='{{ url_for('places.create_place', username=session['username']) }}'">
            {{ 'Create New' if g.user_language == 'en' else 'Создать новую' }}
        </button>
        <button id="editBtn" class="btn btn-secondary" disabled onclick="editPlace()">{% if g.user_language == 'en' %}Edit Record{% elif g.user_language == 'ru' %}Редактировать запись{% endif %}</button>
        <button id="deleteBtn" class="btn btn-danger" disabled onclick="deletePlace()">{% if g.user_language == 'en' %}Delete Record{% elif g.user_language == 'ru' %}Удалить запись{% endif %}</button>

        {% else %}
        {% if g.user_language == 'en' %}
            <p>No records in database. <a href="{{ url_for('create_person', username=session['username']) }}">Create new</a></p>
        {% elif g.user_language == 'ru' %}
            <p>Нет записей в базе данных. <a href="{{ url_for('create_person', username=session['username']) }}">Создать новую</a></p>
        {% endif %}
    {% endif %}
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    var table = $('#myTable').DataTable({
        pageLength: 10,
        createdRow: function(row) {
            $(row).click(function(){
                if ($(this).hasClass('highlight')) {
                    $(this).removeClass('highlight');
                    $('#editBtn, #deleteBtn').prop('disabled', true);
                } else {
                    $('#myTable tbody tr').removeClass('highlight');
                    $(this).addClass('highlight');
                    $('#editBtn, #deleteBtn').prop('disabled', false);
                }
            });
        }
    });
});

function editPlace() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        window.location.href = '/places/user/' + username + '/edit_place/' + id;
    }
}

function deletePlace() {
    var id = $('#myTable tr.highlight').data('id');
    if (id) {
        var username = '{{ session['username'] }}'; // get username from session
        $.ajax({
            url: '/places/user/' + username + '/delete_place/' + id,
            type: 'POST',
            success: function(result) {
                // Remove the deleted record from the table
                $('#myTable tr.highlight').remove();
                // Optionally, show a success message
                // alert('Place deleted successfully!');
            },
            error: function(xhr, status, error) {
                // Optionally, show an error message
                alert('An error occurred while deleting the place: ' + error);
            }
        });
    }
}
</script>

<style type="text/css">
.highlight {
    background-color: gold !important;
}
</style>

{% endblock %}
